/HolaMundo/build/
/ManejoVariables/nbproject/private/
/ManejoVariables/build/
/ManejoCadenas/nbproject/private/
/ManejoCadenas/build/
/ManejoOperadores/nbproject/private/
/ManejoOperadores/build/
/PresedenciaOperadores/nbproject/private/
/PresedenciaOperadores/build/
/EjemploIf/nbproject/private/
/EjemploIf/build/
/CalculaMes/nbproject/private/
/CalculaMes/build/
/CalculaMesSwitch/nbproject/private/
/CalculaMesSwitch/build/
/CicloWhile/nbproject/private/
/CicloWhile/build/
/CicloDoWhile/nbproject/private/
/CicloDoWhile/build/
/CicloFor/nbproject/private/
/CicloFor/build/
/CreacionClasesObjetos/nbproject/private/
/CreacionClasesObjetos/build/
/Aritmetica/nbproject/private/
/Aritmetica/build/
/AritmeticaV2/nbproject/private/
/AritmeticaV2/build/
/AritmeticaV3/nbproject/private/
/AritmeticaV3/build/
/Caja/nbproject/private/
/Caja/build/
/PasoPorValor/nbproject/private/
/PasoPorValor/build/
/PasoPorReferencia/nbproject/private/
/PasoPorReferencia/build/
/PalabraReturn/nbproject/private/
/PalabraReturn/build/
/PalabraReturnClases/nbproject/private/
/PalabraReturnClases/build/